#Pogrubienie_Kotelnykova {
    font-size: 36px;
    color: rgb(131,86,210);
    font-weight: bold;

}

#Pochylona_Kotelnykova {
    font-size: 41pt;
    color: rgb(231,186,110);
    font-weight: bold;
}

#Index_gorny_Kotelnykova {
    font-size: 1.6cm;
    color: rgb(151,136,30);
    font-weight: bold;
}

#Index_dolny_Kotelnykova {
    font-size: 2.7cm;
    color: rgb(51,236,230);
    font-weight: bold; 
}

#Mono_Kotelnykova {
    font-size: 46px;
    color: rgb(23,206,110);
    font-weight: bold;
}

#Powiekszenie_Kotelnykova {
    color: rgb(83,56,160);
    font-weight: bold;
}

#Pomniejszenie_Kotelnykova {
    color: rgb(83% 56% 60%);
    transform: scale(0.75)
}